
.swiper {
  width: 100%;
  height: 100vh;
  padding: 5% 15% 5%;
  background: linear-gradient(to right, rgb(31, 53, 177), rgb(28, 154, 212),rgb(246, 248, 248));
}


.swiper-slide {
  background-color: rgb(219, 234, 240);
  width: 250px;
  height: 400px;
  text-align: center;
  border-radius: 8px;
}
.slider-container .slide-card {
width: 250px;
height: 400px;
background-color: rgb(219, 234, 240);
border-radius: 8px;
margin-top: 60px;
position: relative;
padding: 35px;
text-align: center;

}

.swiper-slide img {
  display: block;
  width: 180px;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  margin-left: 35px;
  margin-top: 10px;
}

.slider-container .slide-card img {
width: 180px;
height: 230px;
border-radius: 8px;


}