@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

#header {
    height: 80px;
    border: black;
    position: fixed;
    z-index: 1000;
    inset: 0 0 auto;
    background: linear-gradient(to right, rgb(205, 227, 238), rgb(211, 231, 240),rgb(246, 248, 248) );
}
.logo-photo {
    height: 60px;
    width: 90px;
    object-fit: cover;
}
#header-container {
    margin: auto 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
}
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    font-size: 16px;
}

.nav {
    color: rgb(17, 37, 219);
    font-size: 18px;
    position: relative;
}
.nav::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(17, 37, 219);  
    left: 0;
    bottom: -4px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
}
.link-basket  {
    color: rgb(17, 37, 219);
    font-size: 18px;
    transition: all 0.3s;
}
.link-login a {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.link-login .fa-sign-in-alt {
    transition: all 0.3s;
}
.nav:hover::after{
    opacity: 1;
}
.nav:hover {
    color: rgb(50, 224, 224);
}

.link-basket:hover{
    color:rgb(50, 224, 224);
}
.link-login a:hover{
    color:rgb(50, 224, 224);

}

.link-button {
    border-style: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
#popupWindow {
    height: 100vh;
    width: 100vw;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
    
}
#nav-menu{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;
}
#contact-info {
    bottom: 0;
    right: 3%;
    z-index: 1000;
    position: absolute;
    color: white;
    font-size: 14px;
    padding: 5px;

}
#contact-info.active {
    animation: showElements2 1.6s;
}
#nav-menu-1.active {
    animation: showLeftPage 1s;
}

#nav-menu-2.active {
    animation: showRightPage 1s;
}
@keyframes showLeftPage {
   
    from {
        transform: translateX(0) translateY(-500px);
        opacity:0;
        
    }
        
    to {
        transform: translateX(0px) translateY(0);
        opacity: 1;
    }
        
}
@keyframes showRightPage {
    from {
        transform: translateX(0px) translateY(-500px);
        opacity:0;
    
        
    }
        
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}
.text-1.active {
    animation: showElements 1.6s;
}
.text-2.active {
    animation: showElements2 1.6s;
}
@keyframes showElements {
    0% {
        opacity: 0;
        transform: translateX(-500px);
       

    }
    360% {
        opacity: 1;
       transform: translateX(0);

    }

}
@keyframes showElements2 {
    0% {
        opacity: 0;
        transform:  translateX(500px);
       

    }
    360% {
        opacity: 1;
       transform: translateX(0);

    }

}
#nav-menu-1 a:hover {
    background-color: rgb(45, 62, 219);
    width: 300px;
    padding: 5px;
    color: white;
    transition: all 0.5s;
    padding-left: 8px;
   

}
#nav-menu-2 a:hover {
    background-color: white;
    width: 300px;
    padding: 5px;
    color: rgb(45, 62, 219);;
    transition: all 0.5s;
    padding-left: 8px;

}
#icons.active {
    animation:  showElements 1.6s ;
}
#nav-menu  a {
    text-decoration: none;
    display: block;
    font-size: 40px;
    font-weight: 800;
    padding: 5px;

}

#nav-menu-2 a {
    color: white;

}

#nav-menu-2 {
    background-color: rgb(17, 37, 219);
    width: 65%;
    height: 100%;
    position: absolute;
    padding-left: 400px;
    right: 0;
    z-index: 999;
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0% 0%);

}
#nav-menu-2 .text-2{
    margin-top: 160px;

}
#nav-menu-1 {
    padding-left: 100px;
    background-color: rgba(254, 255, 255, 0.9);
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    clip-path: polygon(0% -30%, 100% 50%, 100% 100%,  0 100%);
    z-index: 999;

}
#nav-menu-1 .text-1{
    left: 100px;
    margin-top: 160px;
}
#nav-menu-1 a {
    color: rgb(45, 62, 219);
}
#icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    z-index: 1000;
    position: absolute;
    top: 80%;
    left: 10%;

    
}
#icons img {
    width: 65px;
    height: 65px;
    transform: rotateX(45deg) rotateZ(-50deg);
    object-fit: cover;
    border-radius: 12px;
    transition: 1s;
}


#icons img:hover {
    transform: translateY(-40px);
  
}
#close-Menu {
    z-index: 1000;
    position: absolute;
    left: 90%;
    top: 5%;
    color: white;
    font-size: 25px;  
}

.slider-container #discount {
    background-color: rgb(50, 224, 224);
    color: white;
    position: absolute;
    width: 80px;
    height: 20px;
    transform:rotate(60deg);
    top: 30px;
    left: 180px;
}
#search-container {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 60%;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(17, 37, 219);
}
 #search-container #search-button {
    transition: 1.2s;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%) translateX(-10%);
    z-index: 2;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
}
#search-container #search-button.active {
    color: rgb(17, 37, 219);
    background-color: white;
    border-radius: 50px;

}
#search-container.active {
  width: 300px;
  background-color: transparent;
}

#search-container .fa-arrow-right {
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 2;
    display: none;
}
#search-container .fa-arrow-right.active {
   display: block;
}

#search-container #search-input {
    position: absolute;
    padding-left: 20px;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border-style: none;
    background-color: rgb(50, 224, 224);
    padding: 0 40px 0 40px;
    display: none;
    right: 0;
}

#search-container #search-input.active {
    display: block;
}

.promo {
    margin-left: 15%;
    color:rgb(31, 53, 177);
}

.new-books {
   display: flex;
   gap: 60px;
   margin-bottom: 40px;
   margin-left: 15%;
   margin-top: 5%;

}
.new-books.inverse {
 
 animation-name: animatedPic;
 animation-duration: 0.8s;
 animation-timing-function: ease-in-out;


}
@keyframes animatedPic {
    0%{
        opacity: 0;
        transform: translateX(-30px);

    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}
.sale-books {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 5% 10% 5%;
}
.sale-books .leftBook.inverse {
    animation-name: animatedPic;
    animation-duration: 1s;


}

@keyframes animatedPic {
    0%{
        opacity: 0;
        transform: translateX(-150px);

    }
    100% {
        opacity: 1;
        transform: translateX(0);
    } 

}
.sale-books .rightBook.inverse {
    animation-name: animatedPicRight;
    animation-duration: 1s;

}
@keyframes animatedPicRight {
    0%{
        opacity: 0;
        transform: translateX(150px);

    }
    100% {
        opacity: 1;
        transform: translateX(0);
    } 

}
.img {
    width: 190px;
    height: 280px;
    position: absolute;
 

}
.bg {
    background-color:  #1d1d1d;
    display: none;
    transform: translateZ(-1px)

}
.bg.animate {
    display: block;
}

.cardBack.animate {
    display: block;
}
.new-books .card {
    height: 230px;
    width: 180px;
    transition: 1s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}
.new-books .card.animate {
    transform: rotateY(180deg);
}

.cardBack {
    display: none;
    transform: translateZ(-120px) rotateY(180deg);
    background-image: linear-gradient(90deg, tomato , rgb(245, 203, 67));
    position: absolute;
    width: 250px;
    height: 100%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    line-height: 20px;
}
.card .cardBack span{
    color: rgb(17, 37, 219);
    font-weight: 500;
    right: 0;
    right: 0;

}
.cardBack.animate {
    display: block;
}

.category {
    display: flex;
    justify-content: center;
}
.category img {
    width: 180px;
    height: 450px;
    object-fit: cover;
    transition: 0.6s;
}
.category img:hover {
    width: 350px;
    transform: translateZ(1000px);
    
}
#footer {
  bottom: 0;
  background-color: rgb(239, 242, 243);
  height: 400px;

}
#site-name {
    display: flex;
     justify-content: space-between;
     align-items: center;

}
#site-name p {
    color: rgb(76, 92, 235);
    font-size: 32px;
    font-weight: bold;


}
.line {
    background-color: black;
    width: 300px;
    height: 1px;

}

#site-name .right {
    margin-right: 13%;


}
#site-name .left {
    margin-left: 13%;
   
}
#site-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3px;

}
.social-icons {
    display: flex;
    width: 200px;
    gap: 30px;
    margin-left: 50px;

}
.social-icons img {
    width: 30px;
    height: 30px; 
    transform: rotateX(45deg) rotateZ(-50deg);
    border-radius: 8px;
}
#site-info .navi  a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
    color: rgb(76, 92, 235);
    width: 200px;
}
#footer-line {
    height: 100px;
    background-color: black;
    width: 1px;
    margin: 0 auto;

}

#footer .logo-photo{
    height: 60px;
    width: 90px;
    display: block;
    margin:  auto;


}
